[Unit]
Description=pia
After=network.target

[Service]
WorkingDirectory=/opt/pia
User=pia
Group=users
Type=simple
UMask=000
ExecStart=/usr/bin/ng serve --port 4200 --host 0.0.0.0
Restart=on-failure
StartLimitInterval=600

[Install]
WantedBy=multi-user.target
