[Unit]
Description=pia
After=network.target

[Service]
WorkingDirectory=$final_path
User=pia
Group=users
Type=simple
UMask=000
ExecStart=/usr/bin/ng build --prod $final_path
RestartSec=30
"Restart=always

[Install]
WantedBy=multi-user.target
